:root {
  --primary-color-1: #495E57;
  --primary-color-2: #F4CE14;
  --secondary-color-1: #EE9972;
  --secondary-color-2: #FBDABB;
  --highlight-color-1: #EdeFee;
  --highlight-color-2: #333333;
}
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  display: flexbox;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Markazi Text', serif;
  font-size: 40pt;
}


/* Estilo para títulos de tarjetas */
.card-title {
  font-size: 18pt;
  font-weight: bold; /* Negrita para títulos de tarjetas */
}

/* Estilo para texto de párrafo */
p {
  font-size: 16pt; /* Tamaño para texto de párrafo */
}